extends layout

block content
  .bs-callout.bs-callout-info
    h2 Lazy register & lazy load
    p Charla de lazy register & lazy load para AngularJS Madrid
    p La presentación de la charla la puedes encontrar en:
    p: a(href="https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-en") https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-en (english)
    p: a(href="https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-es") https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-es (español)
    p Los fuentes están en:
    p:  a(href="https://github.com/gonzaloruizdevilla/lazyregister") https://github.com/gonzaloruizdevilla/lazyregister
    p
       strong by Gonzalo Ruiz de Villa 
       a(href="https://twitter.com/gruizdevilla") @gruizdevilla
