extends layout

block content
  h1 Lazy register & lazy load
  p Charla de lazy register & lazy load para AngularJS Madrid
  p La presentación de la charla la puedes encontrar en:
    a(href="https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs/edit") https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs
  p Los fuentes están en:
    a(href="https://github.com/gonzaloruizdevilla/lazyregister") https://github.com/gonzaloruizdevilla/lazyregister
