extends layout

block content
  .bs-callout.bs-callout-info
    h2 Lazy register & lazy load
    p Demo for the AngularJS Madrid meetup about lazy loading in AngularJS
    p You may find the slides of the meetup at:
    p: a(href="https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-en") https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-en (english)
    p: a(href="https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-es") https://slides.com/gruizdevilla/late-registering-and-lazy-load-in-angularjs-es (español)
    p The sources of this demo are at:
    p:  a(href="https://github.com/gonzaloruizdevilla/lazyregister") https://github.com/gonzaloruizdevilla/lazyregister
    p
       strong by Gonzalo Ruiz de Villa 
       a(href="https://twitter.com/gruizdevilla") @gruizdevilla
