extends layout

block content
  #winLateRegister(ng-app="winLateRegister2", ng-controller="DefaultCtrl")
    h1 Late register refined
    p You can override a few module properties to allow for lazy registering of artifacts.
    table.table
      tr
        td: button(ng-click="useService1()") Use Service1:
        td: span {{resultadoServicio1}}
      tr
        td: button(ng-click="registerService2()") Register Service2
        td: span {{registrado}}
      tr
        td: button(ng-click="useService2()") Use Service2:
        td: span {{resultadoServicio2}}
    script(src="/javascripts/win-late-register-2.js")
