extends layout

block content
  #winLateRegister(ng-app="winLateRegister", ng-controller="DefaultCtrl")
    .bs-callout.bs-callout-info
      h2 Late register (win)
      p During the configuraction phase, we can access the services used for registering resources.
      p We can store them and expose through an object.
    table.table
      tr
        td: button(ng-click="useService1()") Use Service1:
        td: span {{resultadoServicio1}}
      tr
        td: button(ng-click="registerService2()") Register Service2
        td: span {{registrado}}
      tr
        td: button(ng-click="useService2()") Use Service2:
        td: span {{resultadoServicio2}}
    script(src="/javascripts/win-late-register.js")
    hr
    h4 Template
    div(hljs, include="'/jade/late-register.jade'", language="haml")
    h4 Script
    div(hljs, include="'/javascripts/win-late-register.js'", language="javascript")
