extends layout
block scripts
block content
    #lazyLoad(ng-controller="MainCtrl")
        .bs-callout.bs-callout-info
          h2 Lazy load with require
          p Lazy load based on require.
        p.form-group
          label Route:
          select.form-control(ng-options="url for url in urls", ng-model="location")
        ng-view

    script(data-main="javascripts/lazy-load-require.js", src="bower_components/requirejs/require.js")

    hr
    h4 Template
    div(hljs, include="'/jade/require.jade'", language="haml")
    h4 Script (javascripts/require.js)
    div(hljs, include="'/javascripts/lazy-load-require.js'", language="javascript")
    h4 Script (javascripts/lazy/app.js)
    div(hljs, include="'/javascripts/require/app.js'", language="javascript")
    h4 Script (javascripts/lazy/main-controller.js)
    div(hljs, include="'/javascripts/require/main-controller.js'", language="javascript")
    h4 Script (javascripts/require/url11-controller.js)
    div(hljs, include="'/javascripts/require/url11-controller.js'", language="javascript")
    h4 Script (javascripts/require/url12-controller.js)
    div(hljs, include="'/javascripts/require/url12-controller.js'", language="javascript")
    h4 Script (javascripts/require/service1.js)
    div(hljs, include="'/javascripts/require/service1.js'", language="javascript")
    h4 Script (javascripts/require/url21-controller.js)
    div(hljs, include="'/javascripts/require/url21-controller.js'", language="javascript")
    h4 Script (javascripts/require/url22-controller.js)
    div(hljs, include="'/javascripts/require/url22-controller.js'", language="javascript")
    h4 Script (javascripts/require/service2.js)
    div(hljs, include="'/javascripts/require/service2.js'", language="javascript")
